body{
    margin:0%;
    height:100%;
    width:100%;
}

#Root{
    background-color:black;
    width:100vw;
    height:100vh;
    display:grid;
    align-items:center;
    justify-content:center;

}
   /*LOGIN MOBILE desde 375X667 */

   /*logo*/
.brand{
    
    margin:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2%;
}
/*clave de sol*/
.brand img{
    
    width: 5em;;
    height:20vh;
}
/*contenedor de logo y boton*/
.home{
    align-content:space-evenly;
    align-items: center;
    background-color: black;
    display:grid;/* flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;*/
    justify-content:center;
    justify-items: center;
     row-gap:5vh;
    width:80vw;
    height:100vh;
    
    }
        /**/
    .home h2{
        /*width: 296px;
    height: 40px;
    left: 48px;
    top: 361px;*/
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    
    
    color: #FFFFFF;
    }
    
    /**/
.loginWhitGoogle{
    background-color:FFFFFF;
    border-radius:15px;
    color:rgba(0, 0, 0, 0.);
    font-family: 'Roboto', sans-serif;
    font-size:medium;
    display: flex;
   justify-content:center;
    align-items:center;
    margin-bottom:40px;
    padding: 18px;
    width:250px;
    height:36px;
}
/**/
.title{
    font-family: 'La Belle Aurore';
    font-style: normal;
    font-weight: 400;
    font-size:50px;
    line-height: 93px;
    margin-top: 0%;
    text-align: center;
    color: #FFFFFF;
    padding:2px;
    height: 56px;
}

/*POST*/
    h3{
    color:#FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.muro{
    /*background-color: black;
    width:80vw;
    height:100vh;
    display:grid;
    justify-items:center;*/
    
    align-content:space-evenly;
    align-items: center;
    background-color: black;
    display:grid;/* flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-around;*/
    justify-content:center;
    justify-items: center;
     row-gap:5vh;
    width:80vw;
    height:100vh;
    
}
.head{
    height:15vh;
    width:80vw;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    padding:0%;
    margin-left:0%;
    margin-right:0%;

}
.head button{
    
    background-color:#FFFF;
    border-radius:15px;
    color:rgba(0, 0, 0, 0.);
    font-family: 'Roboto', sans-serif;
    font-size:smaller;
    width:16vw;
    height:36px;
    margin:8%;
}
.head img{
    width: 5em;;
    height:10vh;
    padding:5%;
}
.postContent{
    width:60vw;
    height:20vh;
    display:grid;
    justify-content: center;
}
.postContent button{
    display: flex;
    background-color:#FFFF;
    border-radius:15px;
    color:rgba(0, 0, 0, 0.);
    font-family: 'Roboto', sans-serif;
    font-size:smaller;
    height:36px;
    width: 50px;
    align-items: center;
}
.postContent input{
    display: flex;
    height: 20vh;
    width:250px;
}